/* Active Link */
.custom-menu .ant-menu-item-selected {
 
 
  background-color: #022457 !important; 
  color: white !important; 
 
}

/* Hover Effect */
.custom-menu .ant-menu-item:hover {
  background-color: #b8c2f3 !important;
 

}


/* Submenu Open Background */
.custom-menu .ant-menu-submenu-open {

  background-color: #f1eded !important; 
 
}

